.paisaje{
    background-color: blue;
    width: 800px;
    height: 300px;
}
.sol{
  background-color: yellow;
  border-radius: 100%;
  width: 100px;
    height: 100px;
      position: relative;
  top: 30px;
  left: 650px;
}

.montaña1{
    border-style: solid;
    border-color:transparent transparent brown transparent;
    border-width: 0px 200px 140px 200px;
    width: 0;
    height:60px;
    left: 7px;
    bottom: 350px;
    position: absolute;
   
}
.montaña2{
    border-style: solid;
    border-color:transparent transparent brown transparent;
    border-width: 0px 200px 140px 200px;
    width: 0;
    height:60px;
    left: 200px;
    bottom:350px;
    
    position: absolute
}

.montaña3{
    border-style: solid;
    border-color:transparent transparent brown transparent;
    border-width: 0px 240px 140px 200px;
    width: 0;
    height:60px;
    left: 350px;
    bottom:350px;
    position: absolute;
}
.tierra{
    background-color: darkgreen;
    width: 800px;
    height: 175px;
   
} 
