body {
    font-family: cursive ;
}
.paisaje{
    background-color: rgb(20, 20, 46);
    width: 800px;
    height: 300px;
}
.sol{
  background-color:rgb(146, 146, 58);
  border-radius: 100%;
  width: 100px;
    height: 100px;
      position: relative;
  top: 30px;
  left: 650px;
}

.montaña1{
    border-style: solid;
    border-color:transparent transparent rgb(66, 14, 14) transparent;
    border-width: 0px 200px 140px 200px;
    width: 0;
    height:60px;
    left: 7px;
    bottom: 350px;
    position: absolute;
   
}
.montaña2{
    border-style: solid;
    border-color:transparent transparent rgb(66, 14, 14) transparent;
    border-width: 0px 200px 140px 200px;
    width: 0;
    height:60px;
    left: 200px;
    bottom:350px;
    
    position: absolute
}

.montaña3{
    border-style: solid;
    border-color:transparent transparent rgb(66, 14, 14) transparent;
    border-width: 0px 240px 140px 200px;
    width: 0;
    height:60px;
    left: 350px;
    bottom:350px;
    position: absolute;
}
.tierra{
    background-color: rgb(12, 24, 12);
    width: 800px;
    height: 175px;
   
} 
